{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="mb-4">Thank You</h2>
                <hr>
                <p class="text-dark">Your order information is below. A confirmation email will be sent to <b>{{ order.email }}</b>.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-7"></div>
        </div>
        <div class="row">
			<div class="col-12 col-lg-7 text-end">
				<a href="{% url 'products:products' %}" class="btn btn-dark rounded-0 my-2">
					<span class="icon mr-2">
						<i class="fas fa-gifts"></i>
					</span>
					<span class="text-uppercase">Now check out the Product!</span>
				</a>
			</div>
		</div>
    </div>
{% endblock %}