{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}
    
    {% block corecss %}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
      <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/dd28319c58.js" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Book Store {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <header class="p-3 text-bg-light">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <div class="text-center"><img src="https://thumbs.dreamstime.com/b/hand-book-logo-illustration-art-background-43965136.jpg" alt="book-logo" style="width:50px" class="mx-auto"></div>
          </a>
  
          <div class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <a href="#" class="nav-link px-2 text-dark">Home</a>
            <div class="dropdown">
              <div class="btn dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" role="navigation">
                Product
              </div>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">All Products</a></li>
                <li><a class="dropdown-item" href="#"></a></li>
                <li><a class="dropdown-item" href="#"></a></li>
              </ul>
            </div>
          </div>
  
          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" method="GET" action="#">
            <input type="search" class="form-control form-control-dark text-bg-light" name="a" placeholder="Search product .." aria-label="Search">
          </form>
          <div class="text-end dropdown">
            <div class="btn dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" role="navigation">
              <a class="text-black nav-link" href="#">
                <div class="text-center">
                  <div>
                    <i class="fas fa-user fa-lg"></i> 
                  </div>
                  <p class="my-0">My Account</p>
                </div>
              </a>
            </div>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}
                <li><a href="#" class="dropdown-item">Product Management</a></li>
              {% endif %}
                <li><a href="#" class="dropdown-item">My Profile</a></li>
                <li><a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a></li>
              {% else %}
                <li><a href="{% url 'account_signup' %}" class="dropdown-item">Register</a></li>
                <li><a href="{% url 'account_login' %}" class="dropdown-item">Login</a></li>
              {% endif %}
            </ul>
          </div>
          <ul>
            <li class="list-inline-item">
              <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="">
                <div class="text-center">
                  <div>
                    <i class="fas fa-shopping-bag fa-lg">
                    </i>
                  </div>
                  <p class="my-0">
                    {% if grand_total %}
                    ${{ grand_total|floatformat:2 }}
                    {% else %}
                    $0.00
                    {% endif %}
                  </p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    
    {% if messages %}
      <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}
    
  </body>
</html>