{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="col text-center mt-3">
                <h2>Product details</h2>
                <hr class="featurette-divider">
            </div>
        </div>
    </div>
    <div class="album py-5">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
              <div class="image-container my-5">
                  {% if product.image %}
                  <a href="{{ product.image.url }}" target="_blank">
                  <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                  </a>
                  {% endif %}
              </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
              <div class="product-details-container mb-5 mt-md-5">
                  <p>{{ product.name }}</p>
                  <h4>{{ product.title }}</h4>
                  <p><span class="lead">{{ product.author }}</span> (Author)</p>
                  <h5><p>Price: ${{ product.price }}</p></h5>
                  <p>{{ product.description|slice:":900" }}...</p>
                  <form class="form" action="{% url 'basket:add_to_basket' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ item.product.slug }}" id="id_qty_{{ item.product.slug }}">
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <a href="{% url 'products:products' %}" class="btn btn-outline-secondary px-4 mt-5">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Continue Shopping</span>
                            </a>
                            <input type="submit" class="btn btn-primary px-4 gap-3 text-uppercase mt-5" value="Add to Bag">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
              </div>
          </div>
          </div>
        </div>
      </div>
    </div>
</div>    
{% endblock %}